{{ value }}
<div class="bg-white py-8 sm:py-16" id="{{ content_id }}">
    <div class="mb-16 flex flex-col items-center text-center">
        <section aria-labelledby="text-heading{{ content_id }}">
            <h2 id="text-heading{{ content_id }}" class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                {{ title }}
            </h2>
            <div class="mt-3 max-w-4xl prose text-gray-600">
                {{ content }}
            </div>
        </section>
    </div>
</div>
{{ /value }}
